{% extends "ArticleBundle::layout.html.twig" %}

{% form_theme formulaire 'bootstrap_3_layout.html.twig' %}

{% block page %}
    <h3>Ajout d'un article</h3>
    {{ form_start(formulaire, { "attr" : { "novalidate" : "novalidate"} }) }}

    {{ form_end(formulaire) }}
{% endblock %}


