{% extends "ArticleBundle::layout.html.twig" %}

{% block page %}
    <h3>Mise un jour d'article</h3>
    {{ form(formulaire, { 'action' :  path("article_update_post", {"id" : article_id}), 'attr' : { "novalidate" : "novalidate"} }) }}
{% endblock %}
